<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
   <connectionStrings>
    <add name="QLGV" connectionString="Data Source=10.8.5.114;Initial Catalog=LEMON5;User ID=SBD04;Password=12345678;Persist Security Info=True"/>
  </connectionStrings>
-->

  <connectionStrings>

    <add name="QLGV" connectionString="Server=DESKTOP-8PS0UCH\SQLEXPRESS;Database=QLGV;User Id=user;Password=12345678;Integrated Security=SSPI"/>

  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>